In [9]:
a=10
if a==11:
    print('a=10')
else:
    print(a)

10

In [10]:
a=9
if a>5:
    pass

In [11]:
a = 10 
if a == 12 :
    print("if")
elif a ==10:
    print("1st elif")
else :
    print("else ")

1st elif

In [12]:
l = [1,2,3,4,5,6]
2 in l

True

In [13]:
if 60 in l :
    print("try to perform a task ")
else :
    print("do not perform this task")

do not perform this task

In [14]:
if 10 in l :
    print("thy to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l :
    print("this is new statement")

try to do sub
this is new statement

In [16]:
a = 10
if a <10  and a == 10 :
    print("try to do someting ")
else:
    print('else')

else

In [17]:
a = 10
if a <10  or a == 10 :
    print("try to do someting ")
else:
    print('else')

try to do someting

In [20]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d ==13:
    print("lets do something")

lets do something

In [22]:
d = {'key1':"value","key2":"sudh" , "key3" : "iNeuron"}
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())
else :
    print("all the values are not verified ")

all the values are not verified

In [23]:
a=9
if a==8:
    pass

In [26]:
d = {'key1':"value","key2":"sudh" , "key3" : "iNeuron"}
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())
else :
    print("all the values are not verified ")

all the values are verified
dict_values(['value', 'sudh', 'iNeuron'])

In [27]:
l = [1,2,3,4,5,"sudh" ,234.45]

In [28]:
l[2:6]

[3, 4, 5, 'sudh']

In [29]:
for i in l:
    return l[0]

SyntaxError: 'return' outside function (Temp/ipykernel_8084/1611185062.py, line 2)

In [30]:
a= 10
if a !=11 :
    print("my condition if false")
else :
        print ("print this")

my condition if false

In [31]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1
235.45

In [32]:
a=[9, 8,7,6,5,4,3,2,10]
for i in a :
       print(i ,end=' ')

9 8 7 6 5 4 3 2 10

In [35]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)
l1

[1, 2, 3, 4, 5]

In [34]:
l1

[1, 2, 3, 4, 5]

In [37]:
b=input()

6

In [38]:
type(b)

str

In [41]:
b=int(input('enter: '))

enter: 4

In [43]:
l = [1,2,3,4,5 ,"car",5,6,7]

In [44]:
for i in l:
    if i.isnumeric():
        print(i)

AttributeError: 'int' object has no attribute 'isnumeric'

In [47]:
price = int(input())
if price < 500 :
    print("i will buy something")
    if price < 400 :
        print("i will buy jacket ")
    elif price < 300 :
        print("i will buy a shirt")
        if price < 200 :
            print("i will like to do something else")
    else:
        print("i wont be able to buy any cloth")
else:
    print("i wont be buy anything at all")
    if price > 500 :
        print("let's try something else")

3
i will buy something
i will buy jacket

In [49]:
l = [1,2,3,4,5465,67,""sudh""]
for i in l:
    if type(i)==str:
        if i=='d':
            break
        print(i)

SyntaxError: invalid syntax (Temp/ipykernel_8084/2089879509.py, line 1)

In [50]:
l = [0,0,0,0,0,0,0,1324,0,0,0,0,0]

for i in l:
    if i > 0 :
        print("We have an active alarm Number:",i)         
else:
    print ("No alarm")

We have an active alarm Number: 1324
No alarm

In [51]:
c=int(input())

4/5

ValueError: invalid literal for int() with base 10: '4/5'

In [53]:
if 1 in l:
    print("thy do s addition") 
elif 2 in l:
    print("try to to ")
elif 0 in l :
    print("hit")
if 5 in l:
    print("this is a new block so works")

hit

In [54]:
l

[0, 0, 0, 0, 0, 0, 0, 1324, 0, 0, 0, 0, 0]

In [55]:
a = [9,8,6,1,4]
for i in a :
    print(a)

[9, 8, 6, 1, 4]
[9, 8, 6, 1, 4]
[9, 8, 6, 1, 4]
[9, 8, 6, 1, 4]
[9, 8, 6, 1, 4]

In [56]:
a = [9,8,6,1,4]
for i in a :
    print(i)

9
8
6
1
4

In [1]:
l=[[2,56,43],['sad','sad',234,'forty','rest',734],[2-8j,3.065,7,'tinku'],'welcome']
l.insert(2,[12,39,67])

print(l,'\n')
print('Q1')
for i in l :
    if type(i) == list :
        
        for j in range(len(i)) :
            if type(i[j]) == str :
                print('Sublist :',i,'\n','index= ',j,', value = ',i[j],'\n')
                
print(l,'\n' )
print('Q2')
for i in l :
    if type(i) == list :
        for j in range(len(i)) :
            if type(i[j]) == str :
                i[j]=' '
                
                
print('final list after removing all str in nested list:',l)

[[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']

Q1
Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  0 , value =  sad

Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  1 , value =  sad

Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  3 , value =  forty

Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  4 , value =  rest

Sublist : [(2-8j), 3.065, 7, 'tinku']
 index=  3 , value =  tinku

[[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']

Q2
final list after removing all str in nested list: [[2, 56, 43], [' ', ' ', 234, ' ', ' ', 734], [12, 39, 67], [(2-8j), 3.065, 7, ' '], 'welcome']

In [3]:
#3. Write a Python program to display calendar?
import calendar
n=int(input('Type 1 for monthly calendar or Type 2 for yearly calendar'))

if n==1 :
    yy=int(input('Enter the Year: '))
    mm=int(input('Enter the month number: '))
    print(calendar.month(yy,mm))
elif n==2:
    yy=int(input('Enter the Year: '))
    for m in range(1,13):
        print(calendar.month(yy,m))
        
#Doubt: Can i change the layout of the o/p?for example, 3 months in a row

Type 1 for monthly calendar or Type 2 for yearly calendar1
Enter the Year: 2000
Enter the month number: 6
     June 2000
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [4]:
test_list = [3, 5, 6, 8, 10]
  
# printing original list
print("The original list : " + str(test_list))
  
# using list comprehension
# Finding missing elements in List
res = [ele for ele in range(max(test_list)+1) if ele not in test_list]
  
# print result
print("The list of missing elements : " + str(res))

The original list : [3, 5, 6, 8, 10]
The list of missing elements : [0, 1, 2, 4, 7, 9]

In [9]:
l=[2,3,4,8]
print("org list : ", l, "\n")
rest = [i for i in range(max(l)+1) if i not in l]
print("miss list : ", rest)

org list :  [2, 3, 4, 8]

miss list :  [0, 1, 5, 6, 7]

In [10]:
x= 4
y=4
x==4

True

In [11]:
x is y

True

In [12]:
x=y

In [13]:
x=1000
y=1000
x is y # is works for object

False

In [14]:
x= 4
y=4
x is y

True

In [15]:
x = 100
y = 100
x is y

True