In [1]:
s="sudh"
for i in s:
    print(i)

s
u
d
h

In [3]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]
for i in l:
    if i==4:
        break
    print(i)
else:
    print("this will execute only if for loop is going to complete itself")

1
2
3

In [4]:
s= "sudhanshu"
for i in s:
    if i=="z":
        break
    print(i)
else:
    print("print string", s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [8]:
t=(4,5,6,7,8,6,"sudh")
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [ ]:
b={4,5,6,5,6,7,7,77,7,7,8,"sudh"}
for i in b:
    print(i)

In [7]:
d={'key1':"sudh",'contact':"sudhanshu@ineuron.ai",'position':"xyz"}
for i in d:
    print(i,":",d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [9]:
range(9)

range(0, 9)

In [10]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
list(range(0,8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [13]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [14]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [15]:
s = "ineuron"
for i in range(len(s)) : 
    print(i , s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [20]:
r='Rakesh'
for i in range(len(r)):
    print(r)

Rakesh
Rakesh
Rakesh
Rakesh
Rakesh
Rakesh

In [21]:
r='Rakesh'
n=3
for i in range(len(r)):
    print(r)
    
    if n<= len(r):
        print(i)

Rakesh
0
Rakesh
1
Rakesh
2
Rakesh
3
Rakesh
4
Rakesh
5

In [22]:
r='Rakesh'
n=3
for i in range(len(r)):
    print(r)
    break
    if n<= len(r):
        print(i)

Rakesh

In [28]:
r='Rakesh'
for i in range(len(r)):
    print(r*i)

Rakesh
RakeshRakesh
RakeshRakeshRakesh
RakeshRakeshRakeshRakesh
RakeshRakeshRakeshRakeshRakesh

In [29]:
r='Rakesh '
for i in range(len(r)):
    print(r*i)

Rakesh
Rakesh Rakesh
Rakesh Rakesh Rakesh
Rakesh Rakesh Rakesh Rakesh
Rakesh Rakesh Rakesh Rakesh Rakesh
Rakesh Rakesh Rakesh Rakesh Rakesh Rakesh

In [30]:
r='Rakesh '
for i in range(len(r)-1):
    print(r*i)

Rakesh
Rakesh Rakesh
Rakesh Rakesh Rakesh
Rakesh Rakesh Rakesh Rakesh
Rakesh Rakesh Rakesh Rakesh Rakesh

In [31]:
r='Rakesh '
for i in range(len(r)-1):
    print(r*i, end=" ")

 Rakesh  Rakesh Rakesh  Rakesh Rakesh Rakesh  Rakesh Rakesh Rakesh Rakesh  Rakesh Rakesh Rakesh Rakesh Rakesh

In [56]:
r='Rakesh '
for i in range(len(r)-1):
    print(len(r)*" ",(i*r.center(10)))

         Rakesh
         Rakesh    Rakesh
         Rakesh    Rakesh    Rakesh
         Rakesh    Rakesh    Rakesh    Rakesh
         Rakesh    Rakesh    Rakesh    Rakesh    Rakesh

In [51]:
center((r*i),100)

NameError: name 'center' is not defined

In [42]:
r.center(10)

' Rakesh   '

In [52]:
print(r.center(10))

 Rakesh

In [58]:
r='Rakesh '
for i in range(len(r)-1):
    print(i*r.center(10))

 Rakesh
 Rakesh    Rakesh
 Rakesh    Rakesh    Rakesh
 Rakesh    Rakesh    Rakesh    Rakesh
 Rakesh    Rakesh    Rakesh    Rakesh    Rakesh

In [63]:
r='Rakesh '
for i in range(len(r)-1):
    print(i*" ",(i*r))

  Rakesh
   Rakesh Rakesh
    Rakesh Rakesh Rakesh
     Rakesh Rakesh Rakesh Rakesh
      Rakesh Rakesh Rakesh Rakesh Rakesh

In [62]:
r='Rakesh '
for i in range(len(r)-1):
    print(i*" ",(i*r.center(10)))

   Rakesh
    Rakesh    Rakesh
     Rakesh    Rakesh    Rakesh
      Rakesh    Rakesh    Rakesh    Rakesh
       Rakesh    Rakesh    Rakesh    Rakesh    Rakesh

In [67]:
r='Rakesh '
for i in range(len(r)-1):
    print(i*r.center(10),i*" ",i*r.center(10))

 Rakesh       Rakesh
 Rakesh    Rakesh        Rakesh    Rakesh
 Rakesh    Rakesh    Rakesh         Rakesh    Rakesh    Rakesh
 Rakesh    Rakesh    Rakesh    Rakesh          Rakesh    Rakesh    Rakesh    Rakesh
 Rakesh    Rakesh    Rakesh    Rakesh    Rakesh           Rakesh    Rakesh    Rakesh    Rakesh    Rakesh

In [71]:
r='Rakesh '
n=3
k=4
for i in range(n):
    print(n" ",(r.center(10)))

     Rakesh
     Rakesh
     Rakesh

In [73]:
r='Rakesh '
n=3
k=4
for i in range(n):
    print(i*" ",(r.center(10)))

  Rakesh
   Rakesh
    Rakesh

In [78]:
r='Rakesh '
n=5
k=4
for i in range(n):
    print(i*" ",(i*r))

  Rakesh
   Rakesh Rakesh
    Rakesh Rakesh Rakesh
     Rakesh Rakesh Rakesh Rakesh

In [80]:
r='Rakesh '
n=5
k=4
for i in range(1,n):
    if i in range(1,n-1):
        print(i*r)
    print(i*" ",(i*r))

Rakesh
  Rakesh
Rakesh Rakesh
   Rakesh Rakesh
Rakesh Rakesh Rakesh
    Rakesh Rakesh Rakesh
     Rakesh Rakesh Rakesh Rakesh

In [92]:
r='Rakesh '
n=5
for i in range(n):
    for j in range(i, n-1):
        print(" ", end=" ")
    for j in range(i+1):
        print(r, end= " ")

        Rakesh        Rakesh  Rakesh      Rakesh  Rakesh  Rakesh    Rakesh  Rakesh  Rakesh  Rakesh  Rakesh  Rakesh  Rakesh  Rakesh  Rakesh

In [90]:
r='Rakesh '
n=5
for i in range(n):
    for j in range(i, n-1):
        print(" ", end=" ")
    for j in range(i+1):
        print(r, end= " ")
    print()

        Rakesh
      Rakesh  Rakesh
    Rakesh  Rakesh  Rakesh
  Rakesh  Rakesh  Rakesh  Rakesh
Rakesh  Rakesh  Rakesh  Rakesh  Rakesh

In [95]:
r='Rakesh '
n=5
for i in range(n):
    for j in range(i, n-1):
        print(len(r)*" ", end=" ")
    for j in range(i+1):
        print(r, end=" ")
    print()

                                Rakesh
                        Rakesh  Rakesh
                Rakesh  Rakesh  Rakesh
        Rakesh  Rakesh  Rakesh  Rakesh
Rakesh  Rakesh  Rakesh  Rakesh  Rakesh

In [97]:
r='Rakesh '
n=5
for i in range(n):
    for j in range(i, n-1):
        print(len(r)*" ", end=" ")
        print(i)
    for j in range(i+1):
        print(r, end=" ")
        print(i)
    print()

        0
        0
        0
        0
Rakesh  0

        1
        1
        1
Rakesh  1
Rakesh  1

        2
        2
Rakesh  2
Rakesh  2
Rakesh  2

        3
Rakesh  3
Rakesh  3
Rakesh  3
Rakesh  3

Rakesh  4
Rakesh  4
Rakesh  4
Rakesh  4
Rakesh  4

In [98]:
r='Rakesh '
n=5
for i in range(n):
    for j in range(i, n-1):
        print(len(r)*" ", end=" ")
        print(i)
    for j in range(i+1):
        print(r, end=" ")
        print(i)
    for j in range(i, n+1):
        print(len(r)*" ", end=" ")
        print(i)
    print()

        0
        0
        0
        0
Rakesh  0
        0
        0
        0
        0
        0
        0

        1
        1
        1
Rakesh  1
Rakesh  1
        1
        1
        1
        1
        1

        2
        2
Rakesh  2
Rakesh  2
Rakesh  2
        2
        2
        2
        2

        3
Rakesh  3
Rakesh  3
Rakesh  3
Rakesh  3
        3
        3
        3

Rakesh  4
Rakesh  4
Rakesh  4
Rakesh  4
Rakesh  4
        4
        4

In [103]:
r='Rakesh '
n=5
for i in range(n):
    for j in range(i, n-1):
        print(len(r)*" ", end=" ")
    for j in range(i+1):
        print(r, end=" ")
    for j in range(n+1,i,-1):
        print(len(r)*" ", end=" ")
    print()

                                Rakesh
                        Rakesh  Rakesh
                Rakesh  Rakesh  Rakesh
        Rakesh  Rakesh  Rakesh  Rakesh
Rakesh  Rakesh  Rakesh  Rakesh  Rakesh

In [104]:
r='Rakesh '
n=5
for i in range(n):
    for j in range(i, n-1):
        print(len(r)*" ", end=" ")
    for j in range(i+1):
        print(r, end=" ")
    for j in range(n+1,i,-1):
        print(len(r)*" ", end="\n")

                                Rakesh





                        Rakesh  Rakesh




                Rakesh  Rakesh  Rakesh



        Rakesh  Rakesh  Rakesh  Rakesh


Rakesh  Rakesh  Rakesh  Rakesh  Rakesh

In [115]:
r='Rakesh '
n=5
for i in range(n):
    for j in range(i, n-1):
        print(end=" ",len(r)*" ")
    for j in range(i+1):
        print(r, end=" ")
    print()

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_16896/3577117352.py, line 5)

In [125]:
r='Rakesh '
n=5
for i in range(len(r)):
    print((len(r)-i)*" ", r*i)

       Rakesh
      Rakesh Rakesh
     Rakesh Rakesh Rakesh
    Rakesh Rakesh Rakesh Rakesh
   Rakesh Rakesh Rakesh Rakesh Rakesh
  Rakesh Rakesh Rakesh Rakesh Rakesh Rakesh

In [135]:
r='Rakesh '
n=5
for i in range(len(r)):
    print((len(r)-i)*" ", r*i,(i)*" ", r*(i+1))

          Rakesh
       Rakesh    Rakesh Rakesh
      Rakesh Rakesh     Rakesh Rakesh Rakesh
     Rakesh Rakesh Rakesh      Rakesh Rakesh Rakesh Rakesh
    Rakesh Rakesh Rakesh Rakesh       Rakesh Rakesh Rakesh Rakesh Rakesh
   Rakesh Rakesh Rakesh Rakesh Rakesh        Rakesh Rakesh Rakesh Rakesh Rakesh Rakesh
  Rakesh Rakesh Rakesh Rakesh Rakesh Rakesh         Rakesh Rakesh Rakesh Rakesh Rakesh Rakesh Rakesh

In [136]:
r='Rakesh '
n=5
for i in range(n):
    for j in range(i, n-1):
        print(len(r)*" ", end=" ")
    for j in range(i+1):
        print(r, end=" ")
    print()

                                Rakesh
                        Rakesh  Rakesh
                Rakesh  Rakesh  Rakesh
        Rakesh  Rakesh  Rakesh  Rakesh
Rakesh  Rakesh  Rakesh  Rakesh  Rakesh

In [1]:
r='Rakesh '
n=5
for i in range(len(r)):
    print(len(r)*" ", end=" ")
        print(r, end=" ")

In [2]:
r='Rakesh '
for i in range(len(r)-1):
    print(i*r.center(10))

 Rakesh
 Rakesh    Rakesh
 Rakesh    Rakesh    Rakesh
 Rakesh    Rakesh    Rakesh    Rakesh
 Rakesh    Rakesh    Rakesh    Rakesh    Rakesh

In [8]:
r='Rakesh '
n=5
for i in range(len(r)-1):
    print(i*r, len(r)*" ", end="\n")

Rakesh
Rakesh Rakesh
Rakesh Rakesh Rakesh
Rakesh Rakesh Rakesh Rakesh
Rakesh Rakesh Rakesh Rakesh Rakesh

In [ ]:
r='Rakesh '
n=5
for i in range(len(r)):
    print((len(r)-i)*" ", r*i,(i)*" ", r*(i+1))